{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>

<div class="img-base">
<img src="img/symfony.webp" width="300px" alt="marcel">
</div>

<p class="important">
This is the about page.
</p>

<a>In this course we will learn to program web applications in an object-oriented way with a focus on the architectural design pattern MVC. To get started we need a base and there we have chosen the framework Symfony which is one of the more well known frameworks in PHP.</a>

<a href="https://github.com/dbwebb-se/mvc">Github-repo here.</a>



{% endblock %}
