{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home</h1>

<div class="img-base">
<img src="img/profile.jpg" width="300px" alt="marcel">
</div>

<p class="important">
Welcome to the homepage!
</p>

<a>
Hey! My name is Marceli Lagodziuk, 20 years old and I grew up in Ullared which is located in Halland County and which is well known for its large yellow department store Gekås Ullared, which I have worked in for about 4-5 years. I have now started my second year in Web Programming at Blekinge University of Technology, and I am very happy here so far in Karlskrona! I was born in Poland at the same time (maybe my first and last name can be heard;)) but have lived in Sweden for almost 12 years.
</a>



{% endblock %}